<% PairingDetails.find(:all).each_slice(8) do |pairing_row| %>
  <tr>
    <% pairing_row.each do |column| %>
      <td>
        <%= check_box_tag Blah Blah Blah %>
        <%= interest.name %>
      </td>
    <% end %>
  </tr>
<% end %>