<h1>Welcome to pairing matrix</h1>
<p>Hi</p>

<div>
    <ul>
        <li class='<%=("create")%>'><%= link_to "Create New", root_path %></li>
        <li class='<%=("open")%>'><%= link_to "Existing Matrices", root_path %></li>

    </ul>
</div>










